
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);


@font-face {
    font-family: 'bariol_serif_regularregular';
    src: url('../fonts/bariol/bariol_serif_regular-webfont.eot');
    src: url('../fonts/bariol/bariol_serif_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_serif_regular-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_serif_regular-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_serif_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_serif_regular-webfont.svg#breathepress') format('svg');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'Melo-Regular';
    src: url('../fonts/melo/Melo-Regular.eot');
    src: url('../fonts/melo/Melo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/melo/Melo-Regular.woff2') format('woff2'),
         url('../fonts/melo/Melo-Regular.woff') format('woff'),
         url('../fonts/melo/Melo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'stellar-light';
    src: url('../fonts/stellar/Stellar-light.otf');
    font-weight: normal;
    font-style: normal;
    }




/*@font-face {
    font-family: 'breathepress';
    src: url('../fonts/breathe-press-webfont.eot');
    src: url('../fonts/breathe-press-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breathe-press-webfont.woff2') format('woff2'),
         url('../fonts/breathe-press-webfont.woff') format('woff'),
         url('../fonts/breathe-press-webfont.ttf') format('truetype'),
         url('../fonts/breathe-press-webfont.svg#breathepress') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.h1-L {
	font-family: 'bariol_serif_regularregular';
	font-weight: 500;
    color: #333;
    font-size: 60px;
}

.h3-L {
	font-family: 'bariol_serif_regularregular';
	font-weight: 700;
    color: #333;
    font-size: 40px;
}

.h4-L {
	font-family: 'bariol_serif_regularregular';
	font-weight: 500;
    color: #333;
    font-size: 30px;
}



/* Paragraph & Typographic */
p {
    font-family: 'Lato';
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
}



.centered {
    text-align: center;
}

/* Links */
a {
    /*color: #1abc9c;*/
    color: #ea1540;
    word-wrap: break-word;

    font-family: 'Lato';
	font-weight: 400;
	font-size: 20px;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    /*color: #7b7b7b;*/
    color: #ee4466;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar-inverse {
	/*background-color: #1abc9c;
	border-color: #16a085;*/
	background-color: #DC143C;
	border-color: #bb1133;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}

#submission {
	background-color: #d2d2d2;
	padding-top: 50px;
	padding-bottom: 50px;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

.modal-title {
	color: #808080 !important;
}

/*.modal-body {
	
	color: #000 !important;
}*/

.modal-p {
	color: #808080 !important;
	font-family: 'bariol_serif_regularregular';
	font-weight: 500;
    color: #333;
    font-size: 30px;
}

.btn_f{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #ea1540;
}

.btn-foot {
    /*color: #1abc9c;*/
    color: #ea1540;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.btn-foot:hover,
.btn-foot:focus {
    /*color: #7b7b7b;*/
    color: #ee4466;
    text-decoration: none;
    outline: 0;
}


/***** Media Queries *****/

@media (min-width: 980px) and (max-width: 1600px) {

    .slideshow-video iframe { width: 85% !important; height: 600px !important; }


}

@media (min-width: 768px) and (max-width: 979px) {

    .slideshow-video iframe { width: 80%; height: 200px; }

}

@media (max-width: 767px) {

    .product-background { width: 90%; margin-left: auto; margin-right: auto; }

    .slideshow-video { width: 360px; height: 200px; margin-left: auto; margin-right: auto; }

    .slideshow-video iframe { width: 100%; height: 100%; margin: 0; }

}

@media (max-width: 480px) {

    .slideshow-video { width: 320px; height: 250px; } 

}

.product-background {
    margin-top: 80px;
    padding-bottom: 40px;
    /*background: #f8f8f8 url(../img/pattern.jpg);*/
    background: #2d2d2d;  browsers that don't support rgba 
    background: rgba(45,45,45,.7);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}