<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                      
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/icons/favicon_16.jpg' %}">

    <title>Dance254 Landing Page - Coming Soon</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="assets/css/soon.css" rel="stylesheet"> -->
    <link href="{% static 'css/soon.css' %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

      <!-- Google Analytics Script -->
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71903038-1', 'auto');
          ga('send', 'pageview');

        </script>

  </head>
  <!-- START BODY -->
  <body class="nomobile">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <!-- <h1>{{ title }}</h1> -->
                <h1 data-animated="GoIn"><b>Dance254.com</b> is coming soon...</h1>
            </header>

            <div>
              <h4>Click the Survey Button below and fill in the form.</h4>
            </div>

                       <!-- LOVE_STRUCK BUTTON -->
         <!--   <div> -->
           <!-- <p><a href="{% url "love_struck" %}" class="btn btn-danger btn-lg button-glow"> -->
            <!-- <span class="glyphicon glyphicon-heart gi-5x" aria-hidden="true"></span></a></p> -->
            <!-- <p><a href="{% url "love_struck" %}" class="btn btn-danger btn-lg button-glow">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> LoveStruck Challenge <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></p> -->

            <p><a href="https://docs.google.com/forms/d/1tTk_12v1E8gAVfZPAWNicfyNx3BgltS440nK_Lk1TyM/viewform?c=0&w=1" target="_blank" class="btn btn-danger btn-lg button-glow">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Dance254 Survey <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></p>

            
             
           <!-- </div> -->
           <!-- <a class="button" href="#">Click me!</a>
            <button type="submit" class="button">Click me!</button> -->
           <br/>

           <div>
              <h4>Click IDD Button below.</h4>
            </div>

           <!-- International Dance Day Button -->

            <p><a href="{% url "int_dance_day" %}" class="btn btn-danger btn-lg button-glow-idd">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> International Dance Day <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></p> <br />



            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn">
                <h4 id="message2"></h4>
                <h4 id="message"></h4>                
                <div id="days" class="timer_box"></div>
                <div id="hours" class="timer_box"></div>
                <div id="minutes" class="timer_box"></div>
                <div id="seconds" class="timer_box"></div>
            </div>
            <!-- END TIMER -->
            
            <!-- EMAIL FORM -->
            <!-- <div class="col-lg-4 col-lg-offset-4 mt centered">
            	<h4>LET ME KNOW WHEN YOU LAUNCH</h4>
        				<form class="form-inline" role="form" method="POST" action=""> {% csrf_token %}
        				  <div class="form-group">
                  {{ form.as_p }}
        				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
        				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        				  </div>
        				  <button type="submit" class="btn btn-info">Submit</button>
        				</form>            
			     </div> -->

           <!-- LOVE_STRUCK BUTTON -->
           <!-- <div class="col-lg-4 col-lg-offset-4 mt centered">
            <p><a href="{%url "love_struck"%}" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> LoveStruck Challenge</a></p>
             
           </div> -->

                       <!-- SOCIAL MEDIA -->
            <div class="col-lg-4 col-lg-offset-4 mt centered">
              <h4 id="message">CONNECT WITH US ON SOCIAL MEDIA</h4>
              <h4 id="message">#DANCE254</h4>
                <a href="https://www.facebook.com/dance254/" target="_blank">
                  <img src="{% static 'img/icons/fb.png' %}">
                </a>

                <a href="https://twitter.com/dance_254" target="_blank">
                  <img src="{% static 'img/icons/twitter.png' %}">
                </a>

                <a href="https://www.instagram.com/dance_254/" target="_blank">
                  <img src="{% static 'img/icons/instagram.png' %}">
                </a>

                <!-- <a href="https://plus.google.com/u/0/b/107932618849819300711/107932618849819300711/" target="_blank">
                  <img src="{% static 'img/icons/google+.png' %}">
                </a> -->

                <a href="https://www.youtube.com/channel/UCF7bZhplU32ENPu-xEWp88w/videos" target="_blank">
                  <img src="{% static 'img/icons/youtube.png' %}">
                </a>
            </div>

            
        </div>
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
        <div id="layer"></div>
        <!-- END LAYER -->
        <!-- START SLIDER -->


        <div id="slider" class="rev_slider">
            <ul>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/Pokaz2.jpg' %}">
                <img src="{% static 'img/slider/eyelense2.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/DorcaS.jpg' %}">
                <img src="{% static 'img/slider/SamzOnPoint.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/15.jpg' %}">
                <img src="{% static 'img/slider/15.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/bboyGee2.jpg' %}">
                <img src="{% static 'img/slider/Jims2.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/Kim Bonnke.jpg' %}">
                <img src="{% static 'img/slider/Chilu3.jpg' %}">
              </li>
<!--               <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/Njoki_Collage.png' %}">
                <img src="{% static 'img/slider/DorcaS.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/Njoki_Collage.png' %}">
                <img src="{% static 'img/slider/Kim Bonnke.jpg' %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'img/slider/Njoki_Collage.png' %}">
                <img src="{% static 'img/slider/bboyGee2.jpg' %}">
              </li> -->
            </ul>
        </div>
        <!-- END SLIDER -->
    </section>
    <!-- END HEADER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
  <!-- assets/js/modernizr.custom.js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- assets/js/bootstrap.min.js -->

    <script src="{% static 'js/soon/plugins.js' %}"></script>
    <!-- assets/js/soon/plugins.js -->

    <script src="{% static 'js/soon/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- assets/js/soon/jquery.themepunch.revolution.min.js -->

    <script src="{% static 'js/soon/custom.js' %}"></script>
    <!-- assets/js/soon/custom.js -->

  </body>
  <!-- END BODY -->
</html>