<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/icons/favicon_16.jpg' %}">

    <title>International Dance Day</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap_love.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/main_love.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand h1-L" href="{% url "home" %}">DANCE254.com</a>
        </div>
<!--         <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div> -->
        <!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<!-- <img src="{% static 'img/love.png' %}" alt="Stanley"> -->
					<h1 class="h1-L">International</h1>
					<h1 class="h1-L">Dance Day</h1>
					<h3 class="h3-L">29TH April</h3><br/>
			
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

		    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide CarouselImg" src="{% static 'img/slider/Flags.png' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1-idd">International Dance Day </h1>
              <p>Celebrate Dance Today with the rest of the world!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide CarouselImg" src="{% static 'img/slider/Jims2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1-idd">IDD Instagram Challenge</h1>
              <p>Check it out on Instagram</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide CarouselImg" src="{% static 'img/slider/eyelense2.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1-idd">Everybody Dance!</h1>
              <p>Challenge a Friend to do the IDD Challenge.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<p>The intention of the <b>International Dance Day Message</b> is to celebrate Dance, to revel in the universality of this art form, to cross all political, cultural and ethnic barriers and bring people together with a common language - <b>DANCE</b></p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-gift"></span>
				<p>The day was first established by UNESCO in 1982 and it is held every 29 April, as this is the birthdate of Jean-Georges Noverre (1727-1810), creator of modern ballet.</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-envelope"></span>
				<p>Every year a message from an outstanding choreographer or dancer is circulated throughout the world.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p>The personality is selected by the founding entity of the International Dance Day - the International Dance Committee of the ITI, which collaborates with World Dance Alliance, a Cooperating Member of the ITI.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>So join us this year as we celebrate International Dance Day.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-12">
				<h2>HOW TO PARTICIPATE</h2>
				<p>Do you love to dance? Are you a dancer or do just love having a good time dancing?
				We would love to invite you to be part of this year's International Dance </p>
				<p>Here's how to be part of the global fun in 5 simple steps:</p>
				<p>1.Show off and Share your Favorite dance moves on Instagram with a <b>VIDEO</b> or <b>PICTURE</b>. </p>
				<p>2. Make sure to use the 3 hashtags:<br/>
					<b>#IDDdancechallengeKE</b> <br/>
					<b>#InternationalDanceDay</b> <br/>
					<b>#Dance254</b>
				</p>
				<p>3. Tag and challenge 3 friends.</p>
				<p>4. Tag <a href="https://www.instagram.com/dance_254/" target="_blank"><b>@dance_254</b></a> for a chance to be reposted and to be entered for a chance to win two tickets to <b>JIMS EXPERIENCE 3G</b> on Sunday 1st May 2016.  </p>
				<p>5. Make sure your profile is <b>PUBLIC</b>, so we can see your amazing moves!</p> <br />

				<h4 class="h4-dance"> TO ALL THE DANCERS, DANCE FANS AND LOVERS OF DANCE, LET'S GET DANCING :)</h4>
			</div><!-- /colg-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4 class="h4-L">International Dance Day References</h4>
					<p>
						<a href="http://www.national-awareness-days.com/international-dance-day.html" target="_blank">National Awareness Days</a><br/>
						<a href="http://www.international-dance-day.org/en/danceday.html" target="_blank">InternationalDanceDay.ORG</a><br/>
						<a href="https://en.wikipedia.org/wiki/Jean-Georges_Noverre" target="_blank">Jean-Georges Noverre (1727-1810)</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4 class="h4-L">Our Links</h4>
					<p>
						<a href="https://www.facebook.com/dance254/" target="_blank">Facebook</a><br/>
						<a href="https://twitter.com/dance_254" target="_blank">Twitter</a><br/>
						<a href="https://www.instagram.com/dance_254/" target="_blank">Instagram</a><br/>
						<a href="https://www.youtube.com/channel/UCF7bZhplU32ENPu-xEWp88w/videos" target="_blank">Youtube</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4 class="h4-L">DANCE254</h4>
					<p>DANCE | MUSIC | FASHION | LIFESTYLE</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap_love.min.js' %}"></script>
  </body>
</html>
