<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/icons/favicon_16.jpg' %}">

    <title>LOVESTRUCK CHALLENGE!!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap_love.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/main_love.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/hover.zoom.js"></script>
    <script src="assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

		    	<!-- Google Analytics Script -->
		  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-71903038-1', 'auto');
		  ga('send', 'pageview');

		</script>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand h1-L" href="{% url "home" %}">DANCE254.com</a>
        </div>
<!--         <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div> --><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{% static 'img/love.png' %}" alt="Stanley">
					<h1 class="h1-L">LOVESTRUCK CHALLENGE</h1>
					<p>Hello Dance254 Fam. Welcome to the Dance254 LoveStruck Challenge Page.</p>
					<p>Check out the instructions below to find out how to participate in the LoveStruck Challenge.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- YouTube Promo -->

	<div class="container pt">
		<h1 class="h1-L">YOUTUBE PROMO VIDEO.</h1>
		<div class="row mt centered">
			<!-- <div class="product-background">	 -->
			<div class="slideshow-video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/n1CbzP5Hv3w" frameborder="0" allowfullscreen></iframe>
		            <!-- <iframe src="http://www.youtube.com/embed/u5X5cV-4LRo?rel=0" frameborder="0" allowfullscreen></iframe> -->
		        </div>
		<!-- <div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green"><img class="img-responsive" src="{% static 'img/Youtube2.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Create Your Dance Video</h3>
				<p>Produce Your Video and Publish it on Youtube with the hashtags #Dance254 and #LoveStruckChallenge in the Video Title and Description.</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green"><img class="img-responsive" src="{% static 'img/Hashtag.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Hashtag #Dance254 and #LoveStruckChallenge</h3>
				<p>For your entry to be valid you must use both hashtags in the video title, video description, and displayed within the video.</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="#"><img class="img-responsive" src="{% static 'img/Share2.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Share your Video on Social Media</h3>
				<p>Share your video on social sites such as YouTube, Facebook, Instagram & Twitter.</p>
			</div>
		</div> --><!-- /row -->

		<!-- <div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port04.jpg' %}" alt="" /></a>
				<p>YODA</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port05.jpg' %}" alt="" /></a>
				<p>EMPERORS</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port06.jpg' %}" alt="" /></a>
				<p>CHIEFS</p>
			</div> -->
		<!-- </div> --><!-- /row -->
			<!-- </div> --> <!-- product-background -->
		</div>
	</div><!-- /container-->
	
	
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<h1 class="h1-L">HOW TO PARTICIPATE.</h1>
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green"><img class="img-responsive" src="{% static 'img/Youtube2.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Create Your Dance Video</h3>
				<p>Upload a Video of You Dancing to Your Favorite Love Song and Publish it on Youtube or Instagram with the hashtags #Dance254 and #LoveStruckChallenge in the Video Title and Description.</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green"><img class="img-responsive" src="{% static 'img/Hashtag.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Hashtag #Dance254 and #LoveStruckChallenge</h3>
				<p>For your entry to be valid you must use both hashtags in the video title, video description, and displayed within the video.</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="#"><img class="img-responsive" src="{% static 'img/Share2.png' %}" alt="" /></a>
				<br/>
				<h3 class="h3-L">Share your Video on Social Media</h3>
				<p>Share your video on social sites such as YouTube, Facebook, Instagram & Twitter.</p>
			</div>
		</div><!-- /row -->

		<!-- <div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port04.jpg' %}" alt="" /></a>
				<p>YODA</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port05.jpg' %}" alt="" /></a>
				<p>EMPERORS</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="{% static 'img/portfolio/port06.jpg' %}" alt="" /></a>
				<p>CHIEFS</p>
			</div> -->
		<!-- </div> --><!-- /row -->
	</div> <!-- /container-->


	<!-- +++++ Challenge Submission Section +++++ -->
		<!-- <div id="submission">
	    <div class="container">
			<div class="row">

			</div>
		</div>
	</div> -->


	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
				<h4 class="h4-L">Click Here <br/>to view all the <br/> Challenge Submissions.</h4>
				<!-- Trigger Modal with Button -->
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Submissions.</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">
						
						<!-- Modal Content -->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title h4-L">LoveStruck Challenge</h4>
							</div>
							<div class="modal-body">
								<p class="modal-p">Hi There!<br/> The Submissions Page is Coming Soon.<br/> Keep It Locked!</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
								
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="col-lg-4">
					<h4>Click Here to view all the Challenge Submissions.</h4>
					<a class="btn btn-primary" href="https://www.youtube.com/playlist?list=PLSETcssAgjT-0uBElJ1HTyprJgKCbob3l" role="button">Challenge Submissions.</a>
				</div> --><!-- /col-lg-4 -->
				
				<br/>
				
				<div class="col-lg-6">
					<h4 class="h4-L">Our Links</h4>
					<p>
						<a href="https://www.facebook.com/dance254/" target="_blank">Facebook</a><br/>
						<a href="https://twitter.com/dance_254" target="_blank">Twitter</a><br/>
						<a href="https://www.instagram.com/dance_254/" target="_blank">Instagram</a><br/>
						<a href="https://www.youtube.com/channel/UCF7bZhplU32ENPu-xEWp88w/videos" target="_blank">Youtube</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<!-- <div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div> --><!-- /col-lg-4 -->

				</div>
			
			</div>
		
		</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap_love.min.js' %}"></script>

  </body>
</html>
