{% extends 'base_post_list.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">     
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock %}